.git
.github
.idea
.vscode
.venv
venv

**/__pycache__
**/*.py[cod]
.pytest_cache
.ruff_cache
.coverage

input/*
output/*
temp/*
user/*

models/**/*.bin
models/**/*.ckpt
models/**/*.gguf
models/**/*.onnx
models/**/*.pt
models/**/*.pth
models/**/*.safetensors
